
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#section {
    padding:10px; 
    min-height: 400px;
    text-align:center;
    background-color:white;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;
}