<h1>Using the Article Editor</h1>

<h2>Mathematical Expressions</h2>
<p>
	AsciiMath is the language used for creating mathematical expressions that are displayed in articles.
	Use <a href="http://asciimath.org/" target="_blank">their website</a> as a reference for inserting specific math symbols.
</p>

<h1>Block Types</h1>

<h2>Text Blocks</h2>
<p>
	Displays regular text and mathematical expressions on the same line. 
	Enclose math with <code>`</code> (back-ticks) which will be rendered once you click outside of the text block you are editing.
</p>


<h2>Equation Blocks</h2>
<p>
	Use this for describing important equations that are meant to stand out.
	You can optionally describe or define specific variables or symbols included in the equation by clicking "Add Variable Description"
</p>

<h2>Diagram Blocks</h2>
<p>Custom html, svg, javascript, or css can be inserted into article. Certain functionality (alerts, form submission, etc.) will be blocked from executing when users view the content on the website for security purposes.</p>
<p>Code can be included:</p>
<ul>
	<li>Directly in the textbox</li>
	<li>From external sources</li>
	<li>From local files which are located in the public folder of this website. For example, &lt;script src='/diagrams/script.js'&gt; would include the file at public/diagrams/script.js </li>
</ul>


<h2>Video Blocks</h2>
<p>
	Videos from youtube or vimeo can be inserted into articles by providing their urls.
</p>


