
<h1>New Article</h1>

<%= form_tag articles_path, method: :post do %>
  <%= text_area_tag :sir_trevor_content, nil, class: 'js-sir-trevor-instance' %>
  <%= submit_tag 'Create Article!', class: 'btn btn-success btn-block' %>
<% end %>
<%= link_to 'Back', articles_path %>