<h1>New Article</h1>
<div class="container">
  <div class="md-col-8">
    <textarea class="editor"></textarea>
  </div>
  <div class="md-col-4 preview"></div>
</div>
<%= link_to 'Back', articles_path %>
