
<div class="container">
  <h1>New Article</h1>
  <div class="row">
    <div class="col-md-10">
      <%= form_tag articles_path, method: :post do %>
        <%= text_area_tag :sir_trevor_content, nil, class: 'js-sir-trevor-instance' %>
        <%= submit_tag 'Continue To Step 2', class: 'btn btn-success btn-block' %>
      <% end %>
    </div>
  </div>
</div>



<%= link_to 'Back', articles_path %>