<div class="container">
  <h1 class="page-header"><%= @article.title %></h1>
  <div class="col-md-12">
	  <% @article.blocks.each do |block| %>
	  	<%= render partial: "articles/blocks/#{block.slug}", locals: {block: block.specific} %>
		<hr>
	  <% end %>
  <div>
</div>

