/*MegaMenu*/
.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
		background-color: $navbar-inverse-bg;
}
.navbar-inverse .navbar-nav>li>a {
	width:100px;
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: $navbar-inverse-link-color;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

/*General page styling*/
html, body {
	width: 100%;
    height: 100%;
}

body{
  background-color: white;
  left: 0;
  margin: 0;
  overflow: auto;
	padding: 0;
  overflow-x: hidden;
  position: relative;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 20px;
}
p{
  font-size: 12px;
}

.footerContent{
  color:#ffcc00;
  background-color: #330072;
  text-align: center;
  padding: 3px;
}
.headerContent{
  color:#ffcc00;
  background-color: #330072;
}
.jumbotron {
  padding:0;
  margin-top:30px;
  text-align: center;
  background-color: #f5f5f5;
  padding:10px;
}
.options-panel{
  background-color: #f5f5f5;
}
/* homepage styling */
.homeBody {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: #330072;
	color:#330072
}
.homeJumbotron{
  background-color: #330072;
}

/*aboutpage styling*/
.aboutBody {
	margin-top: 30px;
	background-color: #FFFFFF;
}
.aboutCommentBox{
	margin-bottom: 30px;

}
#aboutLabel{
	font-size: 15px;
	color:black;
}
#aboutHeading{
	font-size: 30px;
	font-weight: bold;
}

/* Login Page Sytle */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.loginForm {
  position: relative;
  background-color: orange;
  z-index: 1;
  background: #330072;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.loginForm input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.loginForm button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ffcc00;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
}
.loginForm button:hover,.form button:active,.form button:focus {
  background: #e6b800;
}
.loginForm .loginMessage {
  margin: 15px 0 0;
  color: #e6b800;
  font-size: 12px;
}

.loginContainer {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.loginContainer:before, .loginContainer:after {
  content: "";
  display: block;
  clear: both;
}

/* More dropdown menu */
.dropbtn {
    background-color: #FFFFFF;
    color: purple;
    padding: 15px 30px;       /* default: 16px */
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 130px;
    margin-top: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
	right: 0;
    background-color: #F5F5DC; /* default: #f9f9f9 */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-right: 130px;

}

.dropdown-content a {
    color: purple;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {background-color: #f9f9f9}  /*default: #f1f1f1 */

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #F5DEB3; /*default: #3e8e41 */
}


/* ---------- admin_page ---------- */


#header_button_container {
    position: absolute;
    right: 0px;
}


body {
    margin: 0;
}

#header {
    background-image: url("../resources/Bullet_Image_Crop1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 500px;
}

#header_title {
    text-align: center;
    padding: 180px;
    font-size: 25px;
	color: white;
}

#body_text {
    margin: auto;
    width: 70%;
    font-size: 20px;
}

#input {
    font-size: 20px;
    font-family: "Times New Roman";
    border-style: none;
    border-color: Transparent;
    overflow-y:hidden;
}

#footer {
    text-align: center;
    padding: 50px 0;
    width: 100%;
    height: 120px;
    background-color: green;

}

.textareaDiv {
	resize: none;
    overflow: auto;}


.dropbtn {
    color: black;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;

}


/* for article page */

/* Dropdown Button */
.art_dropbtn {
    background-color: transparent;
    color: black;

    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.art_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* Links inside the dropdown */
.art_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.art_dropdown-content a:hover {background-color: lightgray}
/* Show the dropdown menu on hover */
.dropdown:hover .art_dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .art_dropbtn {
    background-color: transparent;
}
