		table, th, td {
			border: 1px solid black;
		}
		h1 {
			font-size: 120%;
		}
		h4 {
			margin-left: 40px;
		}
		#p {
		margin-top: 100px;
		margin-bottom: 100px;
		margin-right: 240px;
		margin-left: 80px;
		}
		#mainHeading { 
			margin-left: 25px;
			margin-right:25px;
		}
		#categoryHeading {
			margin-left:40px;
			margin-right:25px;
		}
		#subcategoryHeading {
			margin-left: 75px;
			margin-right: 25px;
		}
		* {
			font-size: 100%;
			font-family: 'Open Sans', sans-serif;
		}

		#indent {
			padding-left: 20px;			
		}
		#indent3 {
			padding-left: 78px;			
		}

		#tableMargin {
		line-height: 24px;
		}