<div class="container">
  <div class="jumbotron">
    <h2><%= @subcategory.name %></h2>
    <p>
    <%= @subcategory.description %>
    </p>
  </div>
  
  <div class="container" style="margin-top:30px;text-align:center;padding:10px;">

	<% @articles.each do |article| % class="col-sm-4" style="padding:10px;">
	<h5>
	<%= link_to article.title, article %>     
	</h5>
	<% end %>

  </div>
</div>

