<div class="container">
  <div class="jumbotron">
    <h2><%= @subcategory.name %></h2>
    <p>
    <%= @subcategory.description %>
    </p>
  </div>
  <hr>
  <div class="container" style="margin-top:30px;text-align:center;padding:10px;">

	<% @subcategory.articles.each do |article| %>
	<div class="col-sm-4" style="padding:10px;" >
		<h4><strong>
		<%= link_to article.title, article %>     
		</strong></h4>
		<hr>
	</div>
	<% end %>

  </div>
</div>

