<div class="container">
  <div class="jumbotron">
    <h2><%= @subcategory.name %></h2>
    <p>
    <%= @subcategory.description %>
    </p>
  </div>
</div>

<% @articles.each do |article| %>
  <h5>
  <%= link_to article.title, article %>     
  </h5>
<% end %>