/* Admin Page Style */
/* Created by Tudor Bertiean */

#wrapper {
    padding-left: 0;
}

#sidebar-wrapper {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    margin-left: 1px;
    overflow-y: auto;
    background: #bdc3c7;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
