
/*General page styling*/
body{
  background-color: white;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 20px;
}
p{
  font-size: 12px;
}
.footerContent{
  "height:100%;
  background-color: blue;
  color:black;
  text-align: center;
  padding-top: 10px;"
}
.jumbotron {
    background-color: #f5f5f5;
}
.options-panel{
  background-color: #f5f5f5;
}
/* homepage styling */
.homeBody {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: #7510da;
}
.homeJumbotron{
  background-color: #7510da;
}
/*aboutpage styling*/
.aboutCommentBox{
    margin-bottom: 30px;
}

/* Admin Page Style */

#wrapper {
    padding-left: 0;
}

#sidebar-wrapper {
    position: fixed;
    left: 0;
    width: 250px;
    height: 90%;
    margin-left: 0;
    overflow-y: auto;
    background: #000;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    font-size: 20px;
    color: #ffffff;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* Initial push menu */
.menu {
    background: #202024 url('../resources/menuBack.png') repeat left top;
    left: -285px;  /* start off page */
    height: 100%;
    position: fixed;
    width: 285px;
}

.menu ul {
    border-top: 1px solid #737373;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #737373;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 3px;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.icon-menu {
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
}
