html,body {width:100%;height:100%;}
body {background-color:#FFF;left:0;overflow:auto;overflow-x:hidden;position:relative;margin:0;padding:0;}
h1 {font-size:50px;}
h2 {font-size:40px;}
h3 {font-size:30px;}
h4 {font-size:20px;}
p {font-size:12px;}
.footerContent {color:#fc0;background-color:#330072;text-align:center;padding:3px;}
.headerContent {color:#fc0;background-color:#330072;}
.jumbotron {margin-top:30px;text-align:center;background-color:#f5f5f5;padding:10px;}
.options-panel {background-color:#f5f5f5;}
.homeBody {left:0;overflow:hidden;position:relative;background-color:#330072;color:#330072;margin:0;}
.homeJumbotron {background-color:#330072;}
.aboutBody {margin-top:30px;background-color:#FFF;}
.aboutCommentBox {margin-bottom:30px;}
.login-page {width:360px;margin:auto;padding:8% 0 0;}
.loginForm {position:relative;background-color:orange;z-index:1;background:#330072;max-width:360px;text-align:center;box-shadow:0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);margin:0 auto 100px;padding:45px;}
.loginForm input {font-family:Roboto, sans-serif;outline:0;background:#FFF;width:100%;border:0;box-sizing:border-box;font-size:14px;margin:0 0 15px;padding:15px;}
.loginForm button {font-family:Roboto, sans-serif;text-transform:uppercase;outline:0;background:#fc0;width:100%;border:0;color:#FFF;font-size:14px;padding:15px;}
.loginForm button:hover,.form button:active,.form button:focus {background:#e6b800;}
.loginForm .loginMessage {color:#e6b800;font-size:12px;margin:15px 0 0;}
.loginContainer {position:relative;z-index:1;margin:0 auto;}
.loginContainer:before,.loginContainer:after {content:"";display:block;clear:both;}
#menuContainer {display:flex;min-height:100%;}
input[type=checkbox] {position:absolute;opacity:0;}
label {position:absolute;top:3.5%;left:1%;z-index:1;display:block;font-size:3em;color:#fc0;cursor:pointer;transform:translate3d(0,0,0);transition:transform .4s;}
label:hover ~ {transform:translate3d(250px,0,0) rotate(90deg);}
.page-content {width:100%;background:inherit;transform:translate3d(0,0,0);transition:transform .4s;}
label:hover ~ .page-content {transform:translate3d(250px,0,0);}
label:hover ~ .slide-menu {transform:translate3d(0,0,0);}
label:hover ~ .slide-menu .menu li {width:100%;}
.slide-menu {transform:translate3d(-250px,0,0);position:fixed;width:250px;background:purple;color:#ddd;left:0;height:100%;transition:all .4s;}
.slide-menu h1 {text-shadow:1px 1px 1px #000;margin:10px;}
.menu {list-style:none;margin:0;padding:0;}
.menu #menuLink {display:block;text-decoration:none;color:#fff;font-size:1.1em;background:purple;border-bottom:1px solid #fff;padding:15px;}
.menu #menuLink:hover {background:#4d004d;box-shadow:inset 0 1px 1px #475059;}
.dropbtn {background-color:#FFF;border:none;margin-right:130px;margin-top:60px;color:#000;font-size:16px;cursor:pointer;padding:0;}
.dropdown {position:relative;display:inline-block;}
.dropdown-content {display:none;position:absolute;right:0;background-color:#F5F5DC;min-width:160px;box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);margin-right:130px;}
.dropdown-content a {color:purple;text-decoration:none;display:block;padding:12px 16px;}
.dropdown-content a:hover {background-color:#f9f9f9;}
.dropdown:hover .dropbtn {background-color:#F5DEB3;}
#header_button_container {position:absolute;right:0;}
#header {background-image:url(../resources/Bullet_Image_Crop1.jpg);background-repeat:no-repeat;color:#000;background-size:cover;position:relative;width:100%;height:500px;}
#header_title {text-align:center;font-size:25px;color:#FFF;padding:180px;}
#body_text {width:70%;font-size:20px;margin:auto;}
#input {font-size:20px;font-family:"Times New Roman";overflow-y:hidden;border-color:Transparent;border-style:none;}
#footer {text-align:center;width:100%;height:120px;background-color:green;padding:50px 0;}
.textareaDiv {resize:none;overflow:auto;}
.art_dropbtn {background-color:transparent;color:#000;font-size:16px;border:none;cursor:pointer;}
.art_dropdown-content {display:none;position:absolute;background-color:#f9f9f9;min-width:160px;box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);}
.art_dropdown-content a {color:#000;text-decoration:none;display:block;padding:12px 16px;}
.art_dropdown-content a:hover {background-color:lightgray;}
.dropdown:hover .art_dropbtn {background-color:transparent;}
.dropdown:hover .dropdown-content,.dropdown:hover .art_dropdown-content {display:block;}
