<div class='equation-block'>
	<div class='equation block-equation'>
		<script type='math/asciimath'><%= block.equation %></script>
	</div>
	<span class='equation-label'><%= block.label %></span>
	<div class='variables'>
		<% block.equation_block_variables.each do |var| %>
			<p class='equation variable-equation'>
				<script type='math/asciimath'><%= var.variable %></script> = <%= var.description %>
			</p>
		<% end %>
	</div>
</div>