<script>


	window.onresize = function(event){
	  moveFooter();
	};

	window.onscroll = function(event){
	  moveFooter();
	};

	function moveFooter(){
		//vh = $(window).height
	  $('div.footerContent').css("position: relative;");
	};
</script>
<!--<footer class="navbar-default navbar-fixed-bottom" >-->
	<div class="container-fluid footerContent">
	  <span> All the information on this website is published in good faith and for general purpose only. UPOD does not make any warranties about the completeness, reliability and accuracy of this information. UPOD and its affiliates will not be liable for any losses and/or damages in connection with the useof our website. This disclaimer was last updated on: Wednesday, July 27, 2016. </span>
	</div>
	<!-- designed by Kyle Colle-Tripp and Omid Ghiyasian -->
<!--</footer>-->
