<!--<footer class="navbar-default navbar-fixed-bottom" >-->
	<div class="container-fluid footerContent">
	  <span>&copy; <%= DateTime.now.strftime('%Y') %> &dash; Wilfrid Laurier University</span>
	</div>
	<!-- designed by Kyle Colle-Tripp and Omid Ghiyasian -->
<!--</footer>-->
