    <div class="slide-menu">
        <nav class="menu">
        <li><%= link_to "Home", root_path,id: "menuLink"%></li>
        <li><%= link_to "About", about_path,id: "menuLink"%></li>
        <li><%= link_to "Article", articles_path,id: "menuLink"%></li>
        <li>
            <a id="menuLink" href="#">Fundamentals</a>
        </li>
        <li>
            <a id="menuLink" href="#">Classical Mechanics</a>
        </li>
        <li>
            <a id="menuLink" href="#">Electricity/Magnetism</a>
        </li>
        <li>
            <a id="menuLink" href="#">Optics</a>
        </li>
        <li>
            <a id="menuLink" href="#">Quantum Mechanics</a>
        </li>
        <li>
            <a id="menuLink" href="#">Statistical Mechanics</a>
        </li>
    </nav>
</div>