<div class="container">
  <h1 class="page-header">ABOUT UPOD</h1>
	<p>Welcome to the Undergraduate Physics Online Database. UPOD was created by undergraduate students at Wilfrid Laurier University under the supervision of Dr. Shohini Ghose in order to provide college and university students with a complete reference guide to undergraduate physics topics. Whether you are an upper-year physics major or a first-year taking a physics related elective, UPOD will remind you of what you've forgotten, clarify what confuses you, and reinforce your physics background. Can't remember Newton's third law? Want to brush up on the photoelectric effect? You've come to the right place. If you know what you're looking for, then you may want to try the search engine at the top of the page. Or, you can browse our database by clicking on any of the six main topics and scrolling through the list of subsections to zero in on exactly what you need. Good luck, and may all the forces be with you!</p>

	<p>UPOD was generously supported by the Laurier Academic Development Fund and the Laurier Department of Physics and Computer Science</p>
  <div class="col-md-9" style="margin-top:10%;">
    <div class="panel panel-default">
        <div class="panel-heading" id="aboutHeading"> Leave a Comment </div> <!--heading -->
        <div style="margin:10px" class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-1" id="aboutLabel" for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="">
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-1" id="aboutLabel" for="email">Email:</label>
                    <input type="text" class="form-control" id="email" placeholder="">
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-1" id="aboutLabel" for="comment">Comment:</label>
                    <textarea class="form-control" rows="6" cols="50" id="comment"></textarea>
                    <br>
		                  <input type="button" class="btn btn-default" id="submit" value="Submit">
		              </div>
		          </form>
		      </div>
		  </div>
	</div>
</div>
