<div id="menuContainer">
  <input id="toggle" type="checkbox">
  <label for="toggle">&equiv;</label>
  <div class="page-content">
    <!--start content section-->

    <!--header-->
    <div id="headerContent"></div>

    <!--about content-->
    <div class="container" id="content">
        <div class="jumbotron">
            <div class= col-xl-4>
                <h2>ABOUT UPOD</h2>
                <span>UPOD (Undergraduate Physics Online Database) is a website designed to the students with
information about physics. The goal is to provide accurate and up to date physics knowledge for
undergraduate students. There are currently very few quality physics reference sites, so UPOD
has the opportunity to fill a large gap facing physics students at present.</span>
                <br/>
                <br/>
                <span>Cras tellus quam, cursus non magna quis, tempus egestas eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc viverra quis eros sit amet vestibulum. Nulla tempor felis a risus egestas mattis. Sed dignissim leo quis justo dictum, sed tincidunt lectus volutpat. Vestibulum at felis in dolor auctor malesuada.
                Ut iaculis bibendum magna a viverra. Vivamus quis nisl sagittis, porttitor nulla nec, eleifend dui. Aliquam dictum leo vitae sagittis posuere. Integer ac bibendum mauris, nec convallis ipsum. Curabitur faucibus, nunc ac ultrices consequat, libero massa suscipit tortor, id sagittis nunc nunc a nunc. Donec ac tincidunt justo. Phasellus vel leo at urna accumsan euismod. Vestibulum facilisis tortor ante. Aenean mollis convallis tellus in consectetur.</span>
            </div>
        </div>
    </div>

    <!--comment box-->
    <div class="container">
        <div class="col-md-9 aboutCommentBox">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 200%"><strong>Leave a Comment</strong></div> <!--heading-->
                <div style="margin:10px" class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="name">Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="email">Email:</label>
                            <input type="text" class="form-control" id="email" placeholder="">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="comment">Comment:</label>
                            <textarea class="form-control" rows="6" cols="50" id="comment"></textarea>
                            <br />
                            <input type="button" class="btn btn-default" id="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--footer-->
    <div id="footerContent"></div>

    <script src="../javascript/jquery-2.2.4.js"></script>
    <script src="../javascript/frontendJS.js"></script>
<!--end content section-->
  </div>
  <div class="slide-menu">
    <nav class="menu">
      <li><a id="menuLink" href="home.html">Home</a></li>
      <li><a id="menuLink" href="about.html">About</a></li>
      <li><a id="menuLink" href="#">Contact</a></li>
      <li><a id="menuLink" href="#">Fundamentals</a></li>
      <li><a id="menuLink" href="#">Classical Mechanics</a></li>
      <li><a id="menuLink" href="#">Electricity/Magnetism</a></li>
      <li><a id="menuLink" href="#">Optics</a></li>
      <li><a id="menuLink" href="#">Quantum Mechanics</a></li>
      <li><a id="menuLink" href="#">Statistical Mechanics</a></li>
    </nav>
  </div>
</div>
