<div id="menuContainer">
  <input id="toggle" type="checkbox">
  <label for="toggle">&equiv;</label>
  <div class="page-content">
    <!--start content section-->

    <br>
    <br>
    <div class="jumbotron homeJumbotron">
      <div id = "content" style="margin-top:5%" class="row row-centered">
        <center>
          <%= link_to root_path do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </center>
        <div class="form-group-lg col-md-3"></div>
        <div class="form-group-lg col-md-5">
        <br>
        <br>
          <label for="search"></label>
          <input type="text" class="form-control" id="search" style="border:2px solid #330072";>
        </div>
        <br>
        <br>
        <div class="form-group-lg col-md-4"></div>
        <input type="button" class="btn btn-warning btn-lg" value="Search">
      </div>
    </div>
    <br>

    <!--end content section-->
  </div>
</div>
