<body style="background-color:#330072;">
<!--start content section-->
	<div class="container-fluid" style="padding-left:10%;">
    <div class="row">
      <div class="col-md-12">
        <%= link_to root_path do %>
          <%= image_tag('logo.png', :class => "center-block", :style => "margin-top: 5%; margin-bottom: 40px;")%>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            <input type="text" class="form-control input-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--end content section-->
<body>
