<h1>
  <%= @category.name %>
</h1>
<h2>
  <%= @category.description %>
</h2>
<% @subcategories.each do |sub| %>
  <div class="col-md-4 col-xs-6 thumb">
    <h2>
  		<%= link_to sub.name, sub %>
  	</h2>
  </div>
<% end %>
