html, .body {
    height: 100%;
}

body {
    margin: 0;
}

.content {
    height: 100%;
    width: 100%;
    margin-left: 20px;
}

.options-panel {
    overflow-y: auto;
    width: 300px;
    height: 87%;
    background-color: #BDC3C7;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
}

.parent-obj{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 30px;
    border-bottom: 1px solid #000000; 
}

.btn{
    width: 100%;
    height: 40px;
    border: ;
    background: #BDC3C7;
    padding-left: 30px;
    text-align: left;
}
.child-obj #hover{
    color: #3366BB;
}

