/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.DS_Store
public/uploads/*

#Ignore the database.yml config file for testing
config/database.yml
upod/config/database.yml
**/database.yml
*/database.yml
/upod/config/database.yml

#testing server using nohup
nohup.out

/doc
.yardoc/
.byebug_history