<ul class="sidebar__list">
  <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
    <% unless [:article_blocks,:article_text_blocks,:article_image_blocks,:article_diagram_blocks,:article_equation_blocks,:article_link_blocks,:equation_block_variables,:images,:diagrams].include? resource %>
      <li>
        <%= link_to(
          display_resource_name(resource),
          [namespace, resource],
          class: "sidebar__link sidebar__link--#{nav_link_state(resource)}"
        ) %>
      </li>
    <% end %>
  <% end %>
</ul>
